**/.terraform/*
*.tfstate
*.tfstate.*
*.plan.terraform.lock
*.txt
*.terraform.lock*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
**/*.pem
**/*plan
playground/*
*.zip
